/* Defaults & resets */

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inconsolata", monospace;
  /* font-family: 'Long Cang', cursive; */
  counter-reset: parag-counter;
  background-image: radial-gradient(circle, wheat, yellow, orange);
}

h5::before {
  counter-increment: parag-counter;
  content: "H5 count # " counter(parag-counter) " ";
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

aside {
  /* width: 25%; */
  /* float: right; */
}

div.content {
  padding: 0 20px;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  /*background-image: linear-gradient(90deg, red, yellow);*/
  box-shadow: 0px 0px 10px #000000;
}

div.content .main {
  float: left;
  /* width: 100%; */
  margin: 0 auto;
}

div.content-wrapper {
  margin: auto; /* this to center the element */
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px dotted wheat; /* #000000 */
}

/* Banner */
div.top {
  width: 100%;
  height: 280px;
  background-color: wheat;
  background-image: url(../images/JHAY.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div.top h1 {
  height: 280px;
  line-height: 280px;
  text-align: center;
  font-size: 70px;
  color: #222222;
  margin: 0 auto;
  font-family: "Long Cang", cursive;
  text-shadow: 5px 5px 10px #000000;
  width: 200px;
  overflow: hidden;
  animation: mybanner 5s infinite;
  transition-timing-function: ease;
}

@keyframes mybanner {
  from {
    width: 200px;
  }
  to {
    width: 100%;
  }
}

/*div.top h1:hover {
	width: 100%;
}*/

/* Menu */
div.menu {
  width: 100%;
  background: #222222;
  position: sticky;
  top: 0;
}

div.menu ul {
  width: 1000px;
  margin: auto;
  list-style: none;
  padding: 0;
  max-width: 100%;
}

div.menu ul li {
  display: inline-block;
}

div.menu ul li a {
  display: inline-block;
  padding: 15px 30px 15px 30px; /* same value with padding:15px 30px*/
  color: #ffffff;
  background-color: #222222;
  transition: background 2s ease;
}

div.menu ul li a:hover,
div.menu ul li a.current {
  color: #222222;
  background-color: #ffffff;
}

/* About */
div#about .about-image {
  width: 25%;
  margin-right: 15px;
  float: left;
  display: flex;
  position: relative;
  border: 5px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  overflow: hidden;
  /* margin-top: 20px; */
  /* padding: 0; */
}

div#about .about-image img {
  width: 100%;
}

div#about .about-image .hover-content {
  position: absolute;
  left: 0;
  background: wheat;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: 1s ease;
  text-align: center;
  padding: 0;
  top: -100%;
}

div#about .about-image .hover-content .text {
  color: #222222;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#about .about-image:hover .hover-content {
  height: 100%;
  top: 0;
}

div#about .about-text {
  width: 70%;
  float: right;
  display: block;
}

/* Skills */
div#skills table {
  width: 100%;
  margin: auto;
  vertical-align: top;
  border-collapse: collapse;
}

div#skills table td,
div#skills table th {
  vertical-align: top;
  text-align: left;
  padding: 5px 10px;
}

div#skills table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Contact */
div#contact ul.social {
  list-style: none;
}

div#contact ul.social li {
  display: inline-block;
}

div#contact ul.social li img {
  transition: transform 1s ease;
}

div#contact ul.social li img:hover {
  transform: rotate(360deg);
}

/*div#contact ul.social li img {
	animation: socialimages 5s ease;	
}

@keyframes socialimages {
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}*/

/*div#contact ul.social li:nth-child(1) img {
	transform: rotate(30deg);
}

div#contact ul.social li:nth-child(2) img {
	transform: rotate(-30deg);
}

div#contact ul.social li:nth-child(3) img {
	transform: rotate(50deg);
}*/

/*
div#contact ul.social li:nth-child(1) img {
	transform: rotate(30deg);
}

div#contact ul.social li:nth-child(2) img {
	transform: skew(30deg);
}

div#contact ul.social li:nth-child(3) img {
	transform: scale(1.2);
}*/
/* Contact Form*/

div#contactform label {
  display: block;
}

input,
textarea {
  border: 1px solid #eaeaea;
  padding: 4px 10px;
  border-radius: 2px;
  line-height: 30px;
  width: 300px;
  font-family: Arial;
  font-size: 15px;
}

textarea {
  height: 120px;
}

input[type="checkbox"],
input[type="submit"] {
  width: auto;
}

/* Footer */
div.bottom {
  background-color: #222222;
}

div.bottom .copyright {
  margin: auto;
  width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
}

div.bottom .copyright p {
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  div.top {
    padding: 0;
  }
  div.content {
    box-shadow: unset;
    padding: 0;
    margin: 0;
  }

  div.content .main,
  aside {
    float: none;
    width: 100%;
  }

  div.content-wrapper {
    max-width: 100%;
    width: auto;
    padding: 0 20px;
  }

  div.content-wrapper#about .about-image {
    float: none;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  div.content-wrapper#about .about-text {
    float: none;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  div.content {
    box-shadow: unset;
    padding: 0;
    margin: 0;
  }

  div.content .main,
  aside {
    float: none;
    width: 100%;
  }

  div.content-wrapper {
    max-width: 100%;
    width: auto;
    padding: 0 20px;
  }

  div.content-wrapper#about .about-image {
    float: none;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  div.content-wrapper#about .about-text {
    float: none;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  div.top h1 {
    height: 150px;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    animation: unset;
    padding-top: 20%;
    position: relative;
    display: block;
  }

  div.content {
    box-shadow: unset;
    padding: 0;
    margin: 0;
  }

  div.content .main,
  aside {
    float: none;
    width: 100%;
  }

  div.content-wrapper {
    max-width: 100%;
    width: auto;
    padding: 0 20px;
  }

  div.content-wrapper#about .about-image {
    float: none;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  div.content-wrapper#about .about-text {
    float: none;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  input,
  textarea {
    width: 90%;
    max-width: 100%;
  }
}
